In [112]:
import numpy as np
import pandas as pd
import os
import glob

## Reading the Data

In [113]:
local = 'C:\\Users\\sharvik\\Python_Notebook\\WQ\\data-science-challenge\\data'

In [84]:
%%time
df = pd.DataFrame()
filenames=[]
for i in range(2008, 2011):
    for j in range(1, 13):
        filenames.append(glob.glob(os.path.join(local,str(i),str(j), '*')))

files = [y for x in filenames for y in x]
for file in files:
    temp = pd.read_csv(file, infer_datetime_format = True, parse_dates={'datetime':[0,1]})
    df = df.append(temp)

Wall time: 1min 5s

In [65]:
df.shape

(1527663, 8)

In [66]:
df.head()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2008-01-01 00:00:00,1.62,0.07,241.25,6.6,0,0,18.0
1,2008-01-01 00:01:00,1.626,0.072,241.74,6.6,0,0,18.0
2,2008-01-01 00:02:00,1.622,0.072,241.52,6.6,0,0,18.0
3,2008-01-01 00:03:00,1.612,0.07,240.82,6.6,0,0,18.0
4,2008-01-01 00:04:00,1.612,0.07,240.8,6.6,0,0,18.0

In [67]:
df.dtypes

datetime                 datetime64[ns]
Global_active_power              object
Global_reactive_power            object
Voltage                          object
Global_intensity                 object
Sub_metering_1                   object
Sub_metering_2                   object
Sub_metering_3                  float64
dtype: object

#### It can be seen that all the data should be in float but are being read as object > Indicates of some inconsistent format in the data

In [70]:
df.loc[df.Global_active_power.isnull()].head()

Empty DataFrame
Columns: [datetime, Global_active_power, Global_reactive_power, Voltage, Global_intensity, Sub_metering_1, Sub_metering_2, Sub_metering_3]
Index: []

#### Removing datetime from column and making it index

In [96]:
df = df.set_index('datetime')

In [104]:
## Checking for NaN
df.isnull().sum()/df.isnull().count()

Global_active_power      0.00000
Global_reactive_power    0.00000
Voltage                  0.00000
Global_intensity         0.00000
Sub_metering_1           0.00000
Sub_metering_2           0.00000
Sub_metering_3           0.01443
dtype: float64

In [106]:
df['Global_active_power'].value_counts()

?                      22044
0.252                   7422
0.254                   6875
0.25                    6837
0.324                   6782
0.326                   6764
0.322                   6748
0.32                    6536
0.32799999999999996     6531
0.24600000000000002     6379
0.256                   6337
0.23399999999999999     6323
0.33                    6274
0.244                   6269
0.248                   6218
0.33399999999999996     6168
0.316                   6167
0.23600000000000002     6150
0.332                   6123
0.318                   6068
0.23199999999999998     6025
0.312                   6009
0.33799999999999997     5948
0.336                   5944
0.314                   5822
0.258                   5816
0.34                    5743
0.31                    5722
0.342                   5691
0.242                   5689
                       ...
6.436                      1
8.53                       1
5.966                      1
6.370                      1
7.1                        1
7.072                      1
6.856                      1
6.194                      1
5.138                      1
6.614                      1
7.3660000000000005         1
6.974                      1
6.620                      1
7.168                      1
5.504                      1
6.818                      1
5.194                      1
6.024                      1
4.528                      1
8.916                      1
5.158                      1
7.622                      1
5.400                      1
5.094                      1
6.070                      1
7.448                      1
5.766                      1
6.522                      1
5.844                      1
5.726                      1
Name: Global_active_power, Length: 6993, dtype: int64

In [110]:
## Converting all the "?" with NaN as of now

df1 = df.replace('?',np.nan)
df1['Global_active_power'].fillna(-1).value_counts()

-1                     22044
0.252                   7422
0.254                   6875
0.25                    6837
0.324                   6782
0.326                   6764
0.322                   6748
0.32                    6536
0.32799999999999996     6531
0.24600000000000002     6379
0.256                   6337
0.23399999999999999     6323
0.33                    6274
0.244                   6269
0.248                   6218
0.33399999999999996     6168
0.316                   6167
0.23600000000000002     6150
0.332                   6123
0.318                   6068
0.23199999999999998     6025
0.312                   6009
0.33799999999999997     5948
0.336                   5944
0.314                   5822
0.258                   5816
0.34                    5743
0.31                    5722
0.342                   5691
0.242                   5689
                       ...
6.690                      1
6.994                      1
7.608                      1
7.906000000000001          1
8.107999999999999          1
9.656                      1
8.320                      1
4.456                      1
7.196                      1
6.894                      1
7.337999999999999          1
6.846                      1
4.842                      1
7.832000000000001          1
5.276                      1
8.76                       1
0.104                      1
7.77                       1
4.462                      1
8.084                      1
9.084                      1
4.990                      1
4.586                      1
7.008                      1
8.65                       1
4.192                      1
8.716                      1
8.814                      1
4.764                      1
7.86                       1
Name: Global_active_power, Length: 6993, dtype: int64

In [111]:
df1.to_csv('Household_Dataset_2008_2010.csv')

In [120]:
%time df = pd.read_csv('Household_Dataset_2008_2010.csv', infer_datetime_format = True, parse_dates=['datetime'])

Wall time: 2.6 s

In [121]:
df.head()

,datetime,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2008-01-01 00:00:00,1.620,0.070,241.25,6.6,0.0,0.0,18.0
1,2008-01-01 00:01:00,1.626,0.072,241.74,6.6,0.0,0.0,18.0
2,2008-01-01 00:02:00,1.622,0.072,241.52,6.6,0.0,0.0,18.0
3,2008-01-01 00:03:00,1.612,0.070,240.82,6.6,0.0,0.0,18.0
4,2008-01-01 00:04:00,1.612,0.070,240.80,6.6,0.0,0.0,18.0

In [122]:
df.dtypes

datetime                 datetime64[ns]
Global_active_power             float64
Global_reactive_power           float64
Voltage                         float64
Global_intensity                float64
Sub_metering_1                  float64
Sub_metering_2                  float64
Sub_metering_3                  float64
dtype: object

#### Now the data types of data inferred by pandas look in sync